@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --accentColor: #085b68;
  --backgroundColor: #f8f8f8;
  --textColor: #080808;
}

.dark-mode {
  --backgroundColor: #080808;
  --textColor: #f8f8f8;
  --accentColor: #13a7be;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  line-height: 1.6;
}

main {
  width: 75%;
  margin-top: auto;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.theme-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  color: var(--accentColor);
}
.theme-button:hover {
  background-color: #eee;
}

.header {
  text-align: center;
}

.name {
  font-size: 3rem;
  font-weight: 500;
  color: var(--accentColor);
}
.description,
.location,
.email {
  font-weight: 400;
  font-size: 1rem;
}

hr {
  margin: 2% 0;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: var(--accentColor);
}

a:hover {
  color: skyblue;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-weight: 300;
  font-size: 1.25rem;
}

.skill {
  margin-left: 2rem;
}
.stack-cards,
.project,
.job,
.school {
  text-indent: 2rem;
}

.responsibilities {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 1rem;
}
.project-description,
.further-description {
  margin-left: 4rem;
}
