// palette
@primary-color: #4aaaa5;
@secondary-color: #999999;
@accent-color: aquamarine;

// global
ul {
    list-style-type: none;
}

// nav bar styles
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid @accent-color;
    margin: 9% 0 0 19%;
}

.navbar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    background-color: @primary-color;
    border-right: 4px solid @primary-color;
}

.nav-links a {
    padding: 5% 0 0 2%;
    display: block;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: @accent-color;
}

a:hover {
    color: #bbbbbb;
  }

  a:visited {
      color: @accent-color;
  }

  // main section
  .main {
    top: 0;
    left: 0;
    padding: 0 10px;
    margin-left: 25%;
    background-color: @secondary-color;
  }
