html,
body {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
hr {
  border: 0.5px solid #0079b0;
  margin: 6% 0;
}
.section-name {
  margin-left: 10%;
  font-size: 30px;
  color: #0079b0;
}
.text {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin-left: 15%;
  line-height: 1.5;
  text-align: justify;
}
.profile-img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid #0079b0;
  margin: 9% 0 0 19%;
}
.navbar {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  background-color: #CEE6F6;
  border-right: 4px solid #CEE6F6;
}
.nav-links a {
  padding: 5% 0 0 2%;
  display: block;
}
a {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #0079b0;
}
a:hover {
  color: #bbbbbb;
}
a:visited {
  color: #0079b0;
}
.main {
  padding: 10px;
  margin-left: 25%;
  background-color: #f1f1f1;
}
.name {
  font-size: 60px;
  margin-left: 23%;
  font-family: 'Montserrat', sans-serif;
}
.first-name {
  float: left;
  color: #B5DCF6;
}
.surname {
  margin-left: 3px;
  color: #0079b0;
}
.address,
.email {
  font-family: 'Roboto', sans-serif;
}
.contact {
  text-align: center;
  font-weight: 400;
}
.experience-history {
  margin-left: 15%;
}
.skills-icons li {
  display: inline;
  font-size: 40px;
  margin-left: 15%;
}
.skills-icons-list {
  width: 71%;
}
